html, body {
    height : 100%;            /* Internet Explorer treats as min-height. */
}

.content {
    margin-left: 13rem;
}

.datasetViewDropdown {
    margin: 0 !important;
    padding: 0.5em 1.5em !important;
}
